{% extends 'users/base.html' %} {% load static %} {% block content %} 
<form action="{% url 'add_image' %}" method="POST" enctype="multipart/form-data">
    <div class="row">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                <label 
                    style="color:#D9D9D9; margin-bottom: 5px;" 
                    for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                {{ field }}
            </div>
        {% endfor %}   
    </div>
    <div class="col-12 text-center">
        <button class="btn btn-success col-12" style="padding: top 5px;" type="submit">Cadastrar Imagem</button>
    </div>
{% endblock %}